@font-face {
font-family: 'Alba';
font-style: normal;
font-weight: normal;
src: local('Alba'), url('ALBA____.woff') format('woff');
}

@font-face {
font-family: 'Gothan Medium';
font-style: normal;
font-weight: normal;
src: local('Gothan Medium'), url('gotham-medium-webfont.woff') format('woff');
}

@font-face {
font-family: 'Century Gothic';
font-style: normal;
font-weight: normal;
src: local('Century Gothic'), url('century-gothic.tff') format('tff');
}

body {
  font-family: "Gothan Medium";
  text-align: center;
}

/* h1, h2, h3,h4, h5, h6 {
  font-family: "Gothan Medium";
} */


p {
  color: #FFF;
  font-size: 1.5rem;
  font-family: 'Century Gothic';
}

.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.normal-verde {
  color: #00a8c7;
  font-size: 2.5rem;
  font-family: 'Century Gothic';
  text-align: justify;
}

.normal-am {
  color: #f66612;
  font-size: 2.5rem;
  font-family: 'Century Gothic';
  text-align:justify;
}

.big-heading2-verde {
  font-family: "Gothan Medium";
  font-size: 6rem;
  font-weight: bolder;
  color: #00a8c7;
  text-align:right;
  padding:0;
  margin:0;
}

.big-heading-color {
  text-align:right;
	background: linear-gradient(to right, #f66612 74%,  #00a8c7  90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 3.5vw;
  font-family: "Gothan Medium";
  padding: 0;
	}

  .heading-color2 {
  text-align:right;
	background: linear-gradient(to right,  #f66612 72%, #00a8c7  80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 5vw;
  font-family: 'Century Gothic', sans-serif;
  padding: 0;
  margin:0;
	}



.big-heading-verde {
  font-family: "Alba";
  font-size: 6rem;
  line-height: 1.5;
  color: #00a8c7;
  text-align: center;
  padding: 3% 0 3%;
}

.big-heading {
  font-family: "Alba";
  font-size: 6rem;
  line-height: 1.5;
  color: #eb008a;
  color: #fff;
  text-align: center;
    padding: 3% 0 3%;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding-top: 0;

}

/* Sections */

.colored-section {
  background-color: #fff ;
  color: #00a8c7;
}

.FundoClaroLaranja {
background: linear-gradient(to right, #ffe0cc, #fffae6, #fff);
  /* background: linear-gradient(to right,  #ffffb3,#ffccb3, #99e6ff, #ffb3d9); */
/* opacity: 90%; */
  /* background: linear-gradient(to right, #00a8c7, #eb008a); */
}

.fundoClaroAzul {
  /* background: linear-gradient(to right, #00a8c7, #eb008a); */
  background: linear-gradient(to right, #e6ffff, #e6e6ff);
    /* background:#e6ffff */

  /* background: linear-gradient(to right, #99e6ff,#ffccb3, #ffffb3, #ffb3d9); */
}

.colorido {
  background: linear-gradient(to right, #00a8c7, #eb008a);
}

.colorido2 {
background: linear-gradient(to right, #f66612, #f8d01d);

}


.navbar a{
    font-family: 'Alba';
    font-weight:600;
    font-size: 2.5rem;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color:  #00a8c7 ;
    /* padding-left: 20%; */
    /* padding-right:10%; */
    /* margin-right: 20%; */
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #f66612;
}


.navbar-custom {
    background-color: #FFF;
    padding:0 0 0 9%;
    text-align: left;
}
.logo {
  width: 22%;
  position:relative;
  padding: 0;
  margin: 0;

}

/* Title Section */

#title {
  background-color: #fff;
  color: #00a8c7;
  text-align: left;

}

.container-fluid {
  padding: 0 15% 5% 15%;
}

.carousel {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.carousel-inner>.item>img {
  margin: 0 auto;
}

/* Title Image */

.curved h1 {
  font-family: "Alba";
  font-size: 6rem;
  /* line-height: 1.5; */
  margin:0;
  color: #fff;
}
.curved svg {
  display:block;
}

.curved.upper {
color: red;
}

#testimonials {
  background: linear-gradient(to right, #00a8c7, #eb008a);
}


.testimonial-image {
  width: 5%;
  border-radius: 5%;
  margin: 10px;
}

.w-10
{
  border-radius: 5%;
  width: 90%;
  height: auto;
  opacity: 69%;
  /* margin: 5px; */
    /* padding: 20px 10px; */
}

/* Footer Section */


.social-icon {
  margin: 20px 10px;
  color: #f8d01d ;
  font-size: 2rem;

}


.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
